@charset "UTF-8";
tbody tr td {
}
tbody tr th {
    color: #7CAAF9;
}
tbody tr td {
    color: #DE87FA;
}
tbody tr th {
    color: #495EFD;
}
tbody tr td {
    color: #FF7D7F;
}
tbody tr td {
    color: #FF2226;
}
body {
    background-color: #FFFFFF;
}
